{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>FERIENJOB</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="short icon" type="text/css" href="https://img.icons8.com/color/48/000000/germany.png"/>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
    {% for n in nav %}
        <div class="w3-bar w3-red w3-card w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red"
               href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i
                    class="fa fa-bars"></i></a>
            <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">{{ n.home }}</a>
            <a href="/ferienjob"
               class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">{{ n.ferienjob }}</a>
            <a href="/course" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">{{ n.course }}</a>
            <a href="/contacts" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">{{ n.contacts }}</a>
        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
            <a href="/ferienjob" class="w3-bar-item w3-button w3-padding-large">{{ n.ferienjob }}</a>
            <a href="/course" class="w3-bar-item w3-button w3-padding-large">{{ n.course }}</a>
            <a href="/contacts" class="w3-bar-item w3-button w3-padding-large">{{ n.contacts }}</a>
        </div>
    {% endfor %}
</div>

<!-- Header -->
{% for i in main %}
    <header class="w3-container w3-center main-container" style="padding:128px 16px">
        <img class="mainImage" src="{{ i.start_image.url }}">
        <div class="overlay">
            <h1 class="w3-jumbo">{{ i.company_name }}</h1>
            <a href="/registrate" class="w3-button w3-black w3-large w3-margin-top">{{ i.button_text }}</a>
        </div>
    </header>

    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>{{ i.b1_title }}</h1>
                <h5 class="w3-padding-32">{{ i.b1_big_text }}</h5>

                <p class="w3-text-grey">{{ i.b1_lit_text }}</p>
            </div>

            <div class="w3-third w3-center">
                <i class="fa fa-thumbs-up w3-padding-64 w3-text-red" style="font-size: 200px"></i>
            </div>
        </div>
    </div>

    <!-- Second Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-third w3-center">
                <i class="fa fa-book w3-padding-64 w3-text-red w3-margin-right" style="font-size: 200px"></i>
            </div>

            <div class="w3-twothird">
                <h1>{{ i.b2_title }}</h1>
                <h5 class="w3-padding-32">{{ i.b2_big_text }}</h5>

                <p class="w3-text-grey">{{ i.b2_lit_text }}</p>
            </div>
        </div>
    </div>
    <div class="w3-container w3-center  w3-padding-64 w3-content" style="max-width: 1200px">
    <h1 class="w3-margin w3-xlarge w3-wide w3-center">{{ i.feedback_title }}</h1>
{% endfor %}
<div class="w3-padding-32 w3-row-padding">
    {% for feed in card %}
        <div class="cardFeedback">
            <img src="{{ feed.card_image.url }}" alt="Pavel" style="width:100%">
            <h3>{{ feed.student_name }}</h3>
            <p class="titleFeedback">{{ feed.year_land }}</p>
            <p>{{ feed.card_text }}</p>
        </div>
    {% endfor %}
</div>
</div>

<!-- Footer -->
<footer class="w3-container w3-black w3-padding-64 w3-center w3-opacity">
    <div class="w3-xlarge w3-padding-32">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
    </div>
</footer>

<script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

</body>
</html>
